src/main/mule/health-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="health-checkFlow" doc:id="75ba6405-4f2b-4661-820d-e7e8e3535db9" >
		<http:listener doc:name="Listener" doc:id="30ccae16-4a9d-4906-81ba-ece472599f35" config-ref="http-listener-config" path="/health"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;"OK-INT"]' doc:name="Set Payload" doc:id="824bdb20-0f2e-4b5a-97e0-f9795ef66af6" />
	</flow>
</mule>
